@inherits LayoutComponentBase
@using Components.Pages.P_Producto
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject NavigationManager Navigation
@inject IJSRuntime jSRuntime
<img src="https://images.unsplash.com/photo-1501082183835-b7b33db89c3f?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:100%" height="200" alt="...">

<div class="page">
    <main>
        <nav class="@Black">
            <div id="NotHidden" class=" container-xl">
                <!-- Logo -->
                <a class="navbar-brand" href="">
                    <h1>Grocery Store</h1>
                </a>
                <!-- Collapse -->
                <div class="collapse navbar-collapse">
                    <!-- Nav -->
                    <div class="navbar-nav mx-lg-auto">
                        <a class="nav-item nav-link @(IsActivePage(""))" href="" aria-current="page">Home</a>
                        <a class="nav-item nav-link @(IsActivePage("productos"))" href="productos">Add_Productos</a>
                        <a class="nav-item nav-link @(IsActivePage("categorias"))" href="categorias">Add_Categorias</a>
                        <a class="nav-item nav-link @(IsActivePage("especiales"))" href="especiales">Productos</a>
                        <a class="nav-item nav-link @(IsActivePage("carrito"))" href="#">Carrito</a>
                    </div>
                    <!-- Search Form -->
                    <form class="d-flex align-items-lg-center mt-3 mt-lg-0" role="search">
                        <input class="form-control align-items-lg-center mt-3 mt-lg-0" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <!-- Right navigation -->
                    <div id="elemnt" class="navbar-nav ms-lg-4">
                        <AuthorizeView>
                            <NotAuthorized>
                                <a class="nav-item nav-link" href="Account/Login">Sign in</a>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                    <!-- Action -->
                    <AuthorizeView>
                        <Authorized>
                            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                                <a href="#" class=" p-3 avatar bg-danger rounded-circle text-white">
                                    RG
                                </a>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div id="elemnt" class="d-flex align-items-lg-center mt-3 mt-lg-0">
                                <a id="elemnt" href="Account/Register" class="btn btn-sm btn-primary w-full w-lg-auto">
                                    Register
                                </a>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </nav>
        <article>
         @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    string Black = "navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 shadow mb-5 bg-body-tertiary";

    private string IsActivePage(string page)
    {
        var currentUri = Navigation.Uri;
        return currentUri.EndsWith(page, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}
