@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using ProjectBlazor.Dto
@using ProjectBlazor.Services



@page "/Renta"
<h3>Listado de Rentas</h3>

   

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Fecha de Renta</th>
                <th>Fecha de Entrega</th>
                <th>Total Pagado</th>
                <th>ClienteID</th>
                <th>VehiculoID</th>
                <th>Precio</th>
                <th>Dias Rentado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in RentaList)
            {
                <tr>
                    <td>@c.rentaId</td>
                    <td>@c.fechaRenta</td>
                    <td>@c.fechaEntrega</td>
                    <td>@c.totalPagado</td>
                    <td>@c.clienteId</td>
                    <td>@c.vehiculoId</td>
                    <td>@c.precio</td>
                    <td>@c.diasRentado</td>
                    
                    

                </tr>
            }
        </tbody>
    </table>
    
   


@code {
    [Parameter]
    public List<ClienteDto> ClienteList { get; set; } = new();
    [Parameter]
    public ClienteRequest MiCliente { get; set; } = new();
    public string Accion { get; set; } = "Registrar";
    public bool ShowForm { get; set; } = false;
    public bool DisableInputs { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await ConsultarRentas();
    }

    public RentaRequest MiRenta { get; set; } = new();
    public List<RentaDto> Rentas { get; set; } = new();
    public List<RentaDto> RentaList { get; set; } = new();

    async Task ConsultarRentas()
    {
        var result = await RentaService.GetAll();
        if (result.Succesd)
        {
            RentaList =
            result.Data?.ToList()
            ??
            new List<RentaDto>();
        }
    }
}