@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/listas"
@using ProyectoLP4.web.Models

<h2>Mis listas</h2>

@* Formulario de creación de la lista *@
@if (ShowForm)
{
    <div class="card shadow-sm">
        <h5 class="card-header text-center bg-success text-white">Crear Lista</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la lista</label>
                <input type="text" @bind="NuevaLista" class="form-control" id="nombre" placeholder="Nombre de la lista" />
                <div class="form-text text-muted">Introduce el nombre para tu nueva lista.</div>
            </div>
            <div class="d-flex justify-content-between">
                <button @onclick="CrearLista" class="btn btn-outline-success">Crear Lista</button>
                <button @onclick="btnCancelarCrearLista" class="btn btn-outline-danger">Cancelar</button>
            </div>
        </div>
    </div>
}
else
{
    <button class="btn btn-outline-primary" @onclick="btnShowAddList">Crear Lista</button>
}

@* Muestra las listas guardadas *@
@if (Lists != null && Lists.Any())
{
    <div class="card mt-3">
        <h5 class="card-header text-center">Listas Creadas</h5>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var list in Lists)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @list.Name
                        <span class="btn btn-outline-dark btn-sm" @onclick="()=>btnVerMovies(list.Id)">
                            @if (IdVerMoviesList == list.Id)
                            {

                                <i class="bi bi-arrow-bar-up"></i>
                            }
                            else
                            {
                                <i class="bi bi-arrow-bar-down"></i>
                            }
                            <span class="m-2">
                                @list.Movies.Count
                                <i class="bi bi-film"></i>
                            </span>

                        </span>
                    </li>
                    @if (IdVerMoviesList == list.Id)
                    {
                        @if (list.Movies.Any())
                        {
                            <div class="row">
                                @foreach (var movie in list.Movies)
                                {
                                    <CompMovie movie="movie"></CompMovie>
                                    @* <div class="col-md-4">
                <div class="card movie-card">
                @if (movie.Poster_path == "https://via.placeholder.com/100x150?text=No+Image")
                {
                <img src="@movie.Poster_path" class="card-img-top img-fluid" alt="@movie.Title Poster">
                }
                else
                {
                <img src="http://image.tmdb.org/t/p/w500/@movie.Poster_path" class="card-img-top img-fluid" alt="@movie.Title Poster">
                }
                <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">@movie.Overview </p>
                <p><strong>Release Date:</strong> @movie.Release_date</p>
                </div>
                </div>
                </div> *@
                                }
                            </div>
                        }
                        else
                        {
                            <div class="card mt-3">
                                <div class="card-header text-center">Sin Movies Agregadas</div>
                                <div class="card-body">
                                    @*      agregar funcionalidad para redirigir a movies *@
                                    <button class="btn btn-outline-info">Agregar MOVIE</button>
                                </div>
                            </div>
                        }
                        <button class="btn btn-outline-danger col-2" @onclick="()=>btnVerMovies(list.Id)">Cerrar</button>

                    }
                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="card mt-3">
        <div class="card-header text-center">Sin Listas Creadas</div>
        <div class="card-body">
            <button class="btn btn-outline-success" @onclick="btnShowAddList">Crear Lista</button>
        </div>
    </div>
}



@code {
    public bool ShowForm = false;
    public bool ShowList = false;

    public int IdVerMoviesList { get; set; }
    private string NuevaLista;
    private List<UserList> Lists;


    protected override async Task OnInitializedAsync()
    {
        CargarDatos();
    }
    public async void CargarDatos()
    {

        var r = await ListService.GetListsAsync();
        if (r.Succeeded)
        {
            Lists = r.Data?.ToList() ?? new();
        }
        StateHasChanged();
    }


    private async Task CrearLista()
    {
        if (!string.IsNullOrWhiteSpace(NuevaLista))
        {
            await ListService.CrearListaAsync(NuevaLista);
            NuevaLista = string.Empty;
            StateHasChanged();
            this.CargarDatos();
            this.btnCancelarCrearLista();
        }
    }

    private void btnShowAddList()
    {
        ShowForm = true;
        NuevaLista = "";
    }

    private void btnCancelarCrearLista()
    {
        ShowForm = false;
        NuevaLista = "";
    }

    private void btnVerMovies(int idUserList)
    {
        if (this.IdVerMoviesList != 0)
        {
            this.IdVerMoviesList = 0;
        }
        else
        {
            this.IdVerMoviesList = idUserList;

        }
        StateHasChanged();
    }
}
